{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class='mt-5'>
      <div class='text-center'>
            <img src="{% static  'core/images/one.jpeg' %}" alt="" height='100px' width='80px' class='img-thumbnail'>
      </div>
      <div class='text-white container mt-2 text-justify'>
            <h1 class='font-weight-bold st-fonts'>Hello</h1>
            <div class='px-4' style='line-height:2rem'>
                  <p style="text-indent:100px">
                        Lorem ipsum <b class='text-warning '>shukumar ghosh</b> dolor sit amet consectetur adipisicing elit. Repudiandae quo maiores sed in est ullam possimus dicta quidem tenetur aut harum assumenda laborum sit nulla natus optio nobis quod, odio quis totam nemo aliquam. Praesentium maxime, similique eius sunt ducimus ipsam veritatis atque fugit? Velit nesciunt ad facere corrupti aperiam.
                  </p>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus atque maiores quod corporis! Sunt praesentium, non, voluptatum eum iure id nesciunt nulla fugit error laudantium modi, nemo harum quam odit. Quae at nisi temporibus alias.</p>
            </div>
      </div>
</div>
<div class='text-center'>
      <a href="" class="btn btn-outline-warning my-3 mr-5 m-5">Hire Me</a>
<a href="" class="btn btn-outline-primary my-3 mr-5">Contact</a>
</div>

{% endblock content %}