{% extends 'core/base.html' %}
{% block content %}
    <div class="container">
        <div class='mt-5'>
            <h3 class='text-warning border-bottom'>SKILL</h3>
            <div class="row text-white">
                  <div class="col-sm-5 mt-5">
                        <h3>HTML/CSS</h3>
                        <div class="progress">
                              <div class="progress-bar bg-danger "style='width:100%' role='progress-bar' areavaluenow='0' ariavaluemin='0' ariavaluemax='100'>
                                                100%
                              </div>
                        </div>
                  </div>

                  <div class="col-sm-5 mt-5 offset-sm-2">
                        <h3>JavaScript</h3>
                        <div class="progress">
                              <div class="progress-bar progress-bar-striped "style='width:75%' role='progress-bar' areavaluenow='0' ariavaluemin='0' ariavaluemax='75'>
                                                75%
                              </div>
                        </div>
                  </div>

                  
                  

            </div>


            <div class="row text-white">
                  <div class="col-sm-5 mt-5">
                        <h3>JavaProgramming</h3>
                        <div class="progress">
                              <div class="progress-bar progress-bar-striped "style='width:40%' role='progress-bar' areavaluenow='0' ariavaluemin='0' ariavaluemax='40'>
                                                40%
                              </div>
                        </div>
                  </div>

                  <div class="col-sm-5 mt-5 offset-sm-2">
                        <h3>Pyhton</h3>
                        <div class="progress">
                              <div class="progress-bar progress-bar-striped "style='width:70%' role='progress-bar' areavaluenow='0' ariavaluemin='0' ariavaluemax='70'>
                                                70%
                              </div>
                        </div>
                  </div>

                  
                  

            </div>


            <div class="row text-white">
                  <div class="col-sm-5 mt-5">
                        <h3>Django</h3>
                        <div class="progress">
                              <div class="progress-bar progress-bar-striped "style='width:60%' role='progress-bar' areavaluenow='0' ariavaluemin='0' ariavaluemax='60'>
                                                60%
                              </div>
                        </div>
                  </div>

                  <div class="col-sm-5 mt-5 offset-sm-2">
                        <h3>React</h3>
                        <div class="progress">
                              <div class="progress-bar progress-bar-striped "style='width:50%' role='progress-bar' areavaluenow='0' ariavaluemin='0' ariavaluemax='50'>
                                                50%
                              </div>
                        </div>
                  </div>

                  
                  

            </div>


        </div>
    </div>


{% endblock content %}
